body {
    background-color: #eaf0e7;
    margin: 0 auto 10% auto;
}
.label {
  font-size: 24px;
}
/* Navbar container */
.app {
  margin: 10px;
  width: 300px;
}
.navbar2 {
    overflow: hidden;
    background-color: #76499e;
  }
  
  .navbar2 a {
    float: left;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown2 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown2 .dropbtn2 {
    font-size: 24px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar2 a:hover, .dropdown2:hover .dropbtn2 {
    background-color: #492b63;
  }
  
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content2 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content2 a:hover {
    background-color: #ddd;
  }
  
  .dropdown2:hover .dropdown-content2 {
    display: block;
  }
  .btn {
    background: #92c7eb; 
    background-image: url("http://res.freestockphotos.biz/pictures/15/15107-illustration-of-a-red-close-button-pv.png");
    background-size: cover; 
    background-position: center; 
    display: inline-block; 
    border: none; 
    padding: 10px; 
    width: 70px; 
    border-radius: 900px; 
    height: 70px; 
    transition: all 0.5s; 
    cursor: pointer;
  }
  .btn:hover{ 
      width: 75px; 
      height: 75px;
}

#arrow {
  color: #ffffff
}