body {
}

.container #navigation, .container .menu ul.sub-menu, .container .menu ul.children {
background-color: #9370b1;	}

.container a, .container a:link, .container a:visited, #wrap .widget ul.menu li a {
color: #a8c399;	}

.container a:hover, .container a:focus, .container a:active,
#wrap .widget ul.menu li a:hover, #wrap .widget ul.menu li ul.sub-menu li a:hover,
#wrap .widget ul.menu .current_page_item a, #wrap .widget ul.menu .current-menu-item a {
color: #a8c399;	}

.container h1 a, .container h2 a, .container h3 a, .container h4 a, .container h5 a, .container h6 a,
.container h1 a:link, .container h2 a:link, .container h3 a:link, .container h4 a:link, .container h5 a:link, .container h6 a:link,
.container h1 a:visited, .container h2 a:visited, .container h3 a:visited, .container h4 a:visited, .container h5 a:visited, .container h6 a:visited {
color: #936fb1;	}

.container h1 a:hover, .container h2 a:hover, .container h3 a:hover, .container h4 a:hover, .container h5 a:hover, .container h6 a:hover,
.container h1 a:focus, .container h2 a:focus, .container h3 a:focus, .container h4 a:focus, .container h5 a:focus, .container h6 a:focus,
.container h1 a:active, .container h2 a:active, .container h3 a:active, .container h4 a:active, .container h5 a:active, .container h6 a:active,
.slideshow .headline a:hover, .slideshow .headline a:focus, .slideshow .headline a:active {
color: #a8c399;	}

#submit:hover, #searchsubmit:hover, .reply a:hover, .gallery a:hover, a.button:hover, .more-link:hover,
#comments #respond input#submit:hover, .container .gform_wrapper input.button:hover, .flex-direction-nav li a:hover {
background-color: #a8c399 !important;	}