<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
<!-- Footer -->
<footer class="page-footer font-small">

        <!-- Footer Links -->
        <div class="container-fluid text-center">
            <div class = "row">
                <div class = "col">
                    <img src = "../images/ccac-map.jpg" class = "align center">
                </div>
                <div class = "col">
                    <br>
                    <img src = "../images/NCAPurpleWhite.png" class = "align center" width = "150px">
                </div>
                <div class = "col">
                    <p></p>
                    <p>Outside Abuse</p>
                    <p>1-800-422-4453</p>
                </div>
            </div>
            
        </div>
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <p> Chicago Children's Advocacy Center</p>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
</body>

</html>
