<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Game</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../static/css/kidsStyle.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- stylesheet -->
   <link href="../static/css/literallycanvas.css" rel="stylesheet">

   <!-- dependency: React.js -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>

   <!-- Literally Canvas -->
   <script src="../static/js/literallycanvas.js"></script>
</head>

<body>
        <div class="navbar2">
                <a id="arrow" onclick="myFunction()"> &#8592 </a>
                <a href="#">Quick Draw</a>
                <a href="../index.html">Parents</a>
                <div class="dropdown2">
                  <button class="dropbtn2"> Kids
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content2">
                    <a href="./kids2.html">Age 4-6</a>
                    <a href="./kids3.html">Age 7-9</a>
                    <a href="./kids4.html">Age 10-12</a>
                    <a href="./kids5.html">Age 12-18</a>
                  </div>
                </div>
              </div>
    <div class="container-fluid" style = "margin-top: 400px; margin-left:230px;">
         <div class="my-drawing" style="width: 540px; height: 700px;"></div>
         <script>
             var lc = LC.init(
                 document.getElementsByClassName('my-drawing')[0],
                 {imageURLPrefix: '../static/img'},
             );

         </script>
         <script>
             function myFunction() {
               window.history.back();
             }
         </script>
    </div>
</body>

</html>
