<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Landing Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--<link href="../static/css/style.min.css" rel="stylesheet">-->
  <link href="landing.css" rel="stylesheet">
</head>

<body>
  <div id="header">
    <img src="../images/ccac-header-logo.png" title="CCAC Logo" />
  </div>
  
  <div id="content">
    <button href="" class="btn btn-light">Kids 0-3</button>
    <button href="" class="btn btn-light">Kids 4-6</button>
    <button href="" class="btn btn-light">Kids 7-9</button>
    <button href="" class="btn btn-light">Kids 10-12</button>
    <button href="" class="btn btn-light">Kids 13-18</button>    
    <button href="" class="btn btn-light">Parents</button>
  </div>
  
  <div id="footer">
    <p>Copyright © 2019 - Chicago Children's Advocacy Center</p>
  </div>
</body>

</html>
