<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Landing Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../static/css/style.min.css" rel="stylesheet">
</head>

<body>
  <div id="header">
    <img src="../images/ccac-header-logo.png" title="CCAC Logo" />
  </div>
  
  <div id="content">
    <h1>Kids</h1>
    <ul>
      <li><a href="">Age 0-3</a></li>
      <li><a href="">Age 4-6</a></li>
      <li><a href="">Age 7-9</a></li>
      <li><a href="">Age 10-12</a></li>
      <li><a href="">Age 13-18</a></li>
    </ul>
    <h1>Parents</h1>
    <ul>
      <li><a href="">Parents Information</a></li>
    </ul>
  </div>
  
  <div id="footer">
    <p>Copyright © 2019 - Chicago Children's Advocacy Center</p>
  </div>
</body>

</html>
