<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Kids</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../static/css/kidsStyle.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
        <div class="navbar2">
                <a id="arrow" onclick="myFunction()"> &#8592 </a>
                <a href="#">Age Group 12-18</a>
                <a href="#" onClick="passwordCheck()">Parents</a>
                <div class="dropdown2">
                  <button class="dropbtn2"> Kids
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content2">
                    <a href="./kids1.html">Age 0-3</a>
                    <a href="./kids2.html">Age 4-6</a>
                    <a href="./kids3.html">Age 7-9</a>
                    <a href="./kids4.html">Age 10-12</a>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="container-fluid text-center">

                  <div class = "row">
                    <div class = "col">
                        <img src="../images/football.jpg" class="app img-rounded" alt="Cinque Terre">
                        <p class = "label">Soccer Shootout</p>
                    </div>
                    <div class = "col">
                        <img src="../images/soccer.png" class="app img-rounded" alt="Cinque Terre">
                        <p class = "label">Soccer Sliders</p>
                    </div>
                  </div>

                  <div class = "row">
                      <div class = "col">
                          <img src="../images/pool.jpg" class="app img-rounded" alt="Cinque Terre">
                          <p class = "label">8 Ball</p>
                      </div>
                      <div class = "col">
                          <img src="../images/carom.png" class="app img-rounded" alt="Cinque Terre">
                          <p class = "label">Smash Em All</p>
                      </div>
                    </div>

                    <div class = "row">
                        <div class = "col">
                            <img src="../images/crossy_road.jpg" class="app img-rounded" alt="Cinque Terre">
                            <p class = "label">Crossy Road</p>
                        </div>
                        <div class = "col">
                            <img src="../images/basketball.jpg" class="app img-rounded" alt="Cinque Terre">
                            <p class = "label">Dunk Contest</p>
                        </div>
                      </div>

                </div>
</body>
<script>
    function myFunction() {
      window.history.back();
    }
    function passwordCheck(){
    var password = prompt("Please enter the key.")
    if (password === "GBHASVJPMC2020"){
        console.log("Logged In");
        window.location= "parent.html";
    } else if (password!='' && password!=null) {
       if (password !=="GBHASVJPMC2020"){
        window.location="kids5.html";
        }
      window.location="kids5.html";
    }
  }
</script>

</html>
