<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Kids</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../static/css/kidsStyle.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
        <div class="navbar2">
                <a id="arrow" onclick="myFunction()"> &#8592 </a>
                <a href="#">Age Group 12-18</a>
                <a href="../index.html">Parents</a>
                <div class="dropdown2">
                  <button class="dropbtn2"> Kids 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content2">
                    <a href="./kids1.html">Age 0-3</a>
                    <a href="./kids2.html">Age 4-6</a>
                    <a href="./kids3.html">Age 7-9</a>
                    <a href="./kids4.html">Age 10-12</a>
                  </div>
                </div> 
              </div>
    <div class="container">
        <div class="container">

            <div class="row">
              
                <button class="btn btn-primary">  </button>
              
            </div>

            <div class="row">
                
                <button class="btn btn-primary">   </button>
                
            </div>

              <div class="row">
                    
                    <button class="btn btn-primary">  </button>
                
              </div>
              
            </div>
          </div>
</body>
<script>
    function myFunction() {
      window.history.back();
    }
</script>
  
</html>